<% include ./partials/header %>
  <div class="ui main text container segment">
    <div class="ui huge header">
      编辑 <%= blog.title %>
    </div>
    <form class='ui form' action="/blogs/<%= blog._id %>/?_method=PUT" method="POST">
      <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]" placeholder="title" value="<%= blog.title %>" >
      </div>

      <div class="field">
        <label>Image</label>
        <input type="text" name="blog[image]" placeholder="image" value="<%= blog.image %>">
      </div>

      <div class="field">
        <label>Blog Content</label>
        <textarea id="TextArea1" cols="20" rows="2" class="ckeditor" name="blog[body]">
          <%= blog.body %>
        </textarea>
      </div>
      <button class="ui primary basic button">提交</button>
    </form>
  </div>
<% include ./partials/footer %>
