<% include ./partials/header %>
<div class="ui main text container">

  <div class="ui huge header">任务列表</div>
  <% if(success && success.length > 0){ %>
    <div class="ui success message">
      <i class="close icon" style='margin-top:5px;'></i>
      <%= success %>
    </div>
  <% } %>

  <div class="ui top attached tabular menu">
    <a class="item control active" href="#tabs-1" data-tab="first">全部</a>
    <a class="item control " href="#tabs-2" data-tab="second">已接</a>
    <a class="item control " href="#tabs-3" data-tab="third">未接</a>
  </div>
  <div id="tabs-1" class="ui bottom attached tab segment active tab-content" data-tab="first">
    <div class="ui top attached segment">
      <div class="ui divided items">
        <% foundBlogs.forEach(function(blog){ %>
          <div class="item mainitem">
            <div class="image">
              <img src="http://www.semantic-ui.cn/images/avatar2/large/matthew.png" class="ui  rounded image" alt="pic">
            </div>
            <div class="content">
              <a class="header" href="/blogs/<%= blog._id %>"><strong>义工对象 : </strong><%= blog.service_obj.name %></a>
              <div class="description">
                <p><strong>地址 : </strong><%= blog.service_obj.address %></p>
              </div>
              <div class="description">
                <p><strong>时间 : </strong><%= blog.time.toDateString() %></p>
              </div>
              <div class="description">
                <p><strong>所需人数 : </strong><%= blog.required_people %></p>
              </div>
              <hr>
              <div class="extra">
                <a class="ui floated basic vilot button" href='/blogs/<%= blog._id %>'>
                  查看更多
                </a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
        <br />
    <a href="#" style="text-align:center" id="showmore"><h4>更多<h4></a>

  </div>

  <div id="tabs-2" class="ui bottom attached tab segment tab-content" data-tab="second">
    <div class="ui top attached segment">
      <div class="ui divided items">
        <% foundBlogs.forEach(function(blog){ %>
          <% if(blog.taken) { %>
          <div class="item">
            <div class="image">
              <img src="http://www.semantic-ui.cn/images/avatar2/large/matthew.png" class="ui centered rounded image" alt="pic">
            </div>
            <div class="content">
              <a class="header" href="/blogs/<%= blog._id %>"><strong>义工对象 : </strong><%= blog.service_obj.name %></a>
              <div class="meta">
                <p><strong>地址 : </strong><%= blog.service_obj.address %></p>
              </div>
              <div class="description">
                <p><strong>时间 : </strong><%= blog.time.toDateString() %></p>
              </div>
              <div class="description">
                <p><strong>所需人数 : </strong><%= blog.required_people %></p>
              </div>
              <hr>
              <div class="extra">
                <a class="ui floated basic vilot button" href='/blogs/<%= blog._id %>'>
                  查看更多
                </a>
              </div>
            </div>
          </div>
          <% } %>
        <% }) %>
      </div>
    </div>
  </div>

  <div id="tabs-3" class="ui bottom attached tab segment tab-content" data-tab="third">
    <div class="ui top attached segment">
      <div class="ui divided items">
        <% foundBlogs.forEach(function(blog){ %>
          <% if(!blog.taken) { %>
          <div class="item">
            <div class="image">
              <img class="ui centered rounded image" src="http://www.semantic-ui.cn/images/avatar2/large/matthew.png" class="ui centered rounded image" alt="pic">
            </div>
            <div class="content">
              <a class="header" href="/blogs/<%= blog._id %>"><strong>义工对象 : </strong><%= blog.service_obj.name %></a>
              <div class="description">
                <p><strong>地址 : </strong><%= blog.service_obj.address %></p>
              </div>
              <div class="description">
                <p><strong>时间 : </strong><%= blog.time.toDateString() %></p>
              </div>
              <div class="description">
                <p><strong>所需人数 : </strong><%= blog.required_people %></p>
              </div>
              <hr>
              <div class="extra">
                <a class="ui floated basic vilot button" href='/blogs/<%= blog._id %>'>
                  查看更多
                </a>
              </div>
            </div>
          </div>
          <% } %>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
