<% include ./partials/header %>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="http://www.semantic-ui.cn/images/avatar2/large/rachel.png">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
	<form style="display:inline-block" action="/users/<%= user._id %>/tasks" method="POST">
		<input name='blogId' type='hidden' value='<%= blog._id %>' >
		<button class="ui positive right labeled icon button">
		  Yep, that's me
		  <i class="checkmark icon"></i>
		</button>
	</form>
  </div>
</div>

<div class="ui main text container segment">
  <div class="ui huge header">
    <%= blog.title %>
  </div>

  <% if(success.length > 0){ %>
    <div class="ui success message">
      <i class="close icon" style='margin-top:5px;'></i>
      <%= success %>
    </div>
  <% } %>

  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="<%= blog.image %>" alt="pic">
      <div class="content">
        <a class="ui tag label"><%= blog.created_date.toDateString() %></a>
        <a class="ui teal tag label">Created by <%= blog.author.username %></a>
      </div>
      <div class="description">
        <p><%- blog.body %></p>
      </div>
      <hr>
      <% if(blog.author.id.equals(user._id)){ %>
        <a href="/blogs/<%= blog._id %>/edit" class="ui primary basic button">Edit</a>
        <form id="delete" action="/users/<%= user._id %>/releasedtasks/<%= blog._id %>/?_method=DELETE" method="POST">
          <button class="ui negative basic button">Delete</button>
        </form>
      <% } %>

      <% if(blog.taken){ %>
        <a class="ui teal tag label">Taken by <%= blog.taskTaker.username %></a>
      <% } else { %>
        <button class="ui primary basic button modal-toggle">Take Task</button>
      <% } %>

    </div>
  </div>

  <% blog.comments.forEach(function(comment) { %>
    <div class="description">
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="http://www.semantic-ui.cn/images/avatar/small/joe.jpg">
          </a>
          <div class="content">
            <a class="author"><%= comment.author.username %></a>
            <div class="text"><%= comment.content %></div>
            <div class="text"><%= comment.created_date.toDateString() %></div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  <% }) %>

  <% if(blog.author.id.equals(user._id)){ %>
  <form class="ui reply form" action='/blogs/<%= blog._id %>/comments' method='POST'>
    <div class="field">
      <textarea name='comment[content]' required ></textarea>
    </div>
    <button class="ui blue labeled submit icon button"><i class="icon edit"></i> Add Reply </button>
  </form>
  <% } %>
</div>
<% include ./partials/footer %>
