<% include ./partials/header %>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    义工信息确认
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="http://www.semantic-ui.cn/images/avatar2/large/rachel.png">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
	<form style="display:inline-block" action="/users/<%= user._id %>/tasks" method="POST">
		<input name='blogId' type='hidden' value='<%= blog._id %>' >
		<button class="ui positive right labeled icon button">
		  确定
		  <i class="checkmark icon"></i>
		</button>
	</form>
  </div>
</div>

<div class="ui main text container segment">
  <div class="ui huge header">
    <p><strong>义工对象 : </strong><%= blog.service_obj.name %><p>
  </div>

  <% if(success.length > 0){ %>
    <div class="ui success message">
      <i class="close icon" style='margin-top:5px;'></i>
      <%= success %>
    </div>
  <% } %>

  <div class="ui items">
    <div class="item">
      <div class="ui small image">
       <img src="http://www.semantic-ui.cn/images/avatar2/large/matthew.png">
     </div>
      <div class="middle aligned content">
        <div class="header">义工对象介绍： </div>
        <div class="description">
          <p>名字：<%= blog.service_obj.name %></p>
          <p>年龄：<%= blog.service_obj.name %></p>
          <p>性别：<%= blog.service_obj.name %></p>
          <p>地址：<%= blog.service_obj.address %></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="item">
      <div class="middle aligned content">
        <div class="header">本次义工须知：</div>
        <div class="description">
          <p>义工时间：<%= blog.service_obj.time %></p>
          <p>义工搭档：<%= blog.service_obj.time %></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="item">
      <div class="middle aligned content">
        <div class="header">义工内容介绍： </div>
        <div class="description">
          <p><%= blog.taskIntro %></p>
        </div>
      </div>
    </div>
    <button class="ui floated basic vilot button modal-toggle">
      领取任务
    </button>
  </div>
  <form class="ui reply form">
   <div class="field">
     <textarea></textarea>
   </div>
   <div class="ui blue labeled submit icon button"><i class="icon edit"></i> Add Reply </div>
 </form>
    </div>
</div>
<% include ./partials/footer %>
