<% include ../partials/header %>
<div class="ui grid container adjustcontainer">
  <div class="row">
  <div class="five wide column">
    <div class="ui huge header">服务对象信息</div>

  <div class="card">
   <div class="ui responsive image">
    <% if(foundService.gender == '男'){ %>
      <img src="http://www.semantic-ui.cn/images/avatar2/large/matthew.png">
    <% } else{ %>
      <img src="http://www.semantic-ui.cn/images/avatar2/large/kristy.png">
    <% } %>
   </div>
   <div class="content" style="padding:10px 15px;">
     <div class="ui header"><%= foundService.name %></div>
   </div>
   <div class="extra content" style="padding:10px 15px;">
     <span class="right floated"><%= foundService.joined_date.toDateString() %>加入 </span>
     <span><i class="user icon"></i>已接受<%= foundService.recieveService %>次服务</span>
   </div>
 </div>
  <h3 style="margin-top:10px;">地图</h3>
 <div id="map"></div>
 </div>
   <div class="eleven wide column" style="margin-top:45px;">
     <div class="ui main text segment">
     <form class='ui form' action="/login" method="POST">
       <div class="field">
         <label>简介</label>
         <textarea name='adress' rows="8" cols="80"><%= foundService.intro %></textarea>
       </div>

       <div class="field">
         <label>姓名</label>
         <input type="text" value="<%= foundService.name %>"  placeholder="输入你的姓名">
       </div>

           <div class="field">
             <label>住址</label>
             <input type="text" value="<%= foundService.address %>"  placeholder="输入你的住址">
           </div>
           <div class="field">
             <label>联系方式</label>
             <input type="tel" value="<%= foundService.tel %>"  placeholder="输入联系方式">
           </div>

           <div class="field">
             <label>性别</label>
             <select>
               <option  value="">性别</option>
               <option selected value="男">男</option>
               <option value="女">女</option>
               <option value="其他">其他</option>
             </select>
           </div>

           <div class="field">
             <label>年龄</label>
             <input type="number" value="<%= foundService.age %>"  placeholder="输入年龄">
           </div>

       <button class="ui primary basic button">保存</button>
     </form>
  </div>
  </div>
</div>
</div>

<% include ../partials/footer %>
